<div class="grid application-forms">
	<div class="grid-item 1/1 application-forms-title">
		Application forms
	</div>

	<div class="grid-item 1/1 application-forms-list">
		<div class="grid-item 1/1 application-forms-item">
			<div class="application-forms-item-title">
				<%= link_to asset_path("deans_leave.pdf"), title: "Dean's leave application form" do %> 
					<i class="fa fa-angle-double-right"></i> Dean's leave
				<% end %>
			</div>
			<div class="application-forms-item-description">
				Application to the Dean of the Faculty for a leave of absence.
			</div>
		</div>

		<div class="grid-item 1/1 application-forms-item">
			<div class="application-forms-item-title">
				<%= link_to asset_path("extracurricular.pdf"), title: "Extracurricular subjects application form" do %> 
					<i class="fa fa-angle-double-right"></i> Extracurricular subjects
				<% end %>
			</div>
			<div class="application-forms-item-description">
				Application to the Dean of the Faculty for permission to study extracurricular subjects.
			</div>
		</div>

		<div class="grid-item 1/1 application-forms-item">
			<div class="application-forms-item-title">
				<%= link_to asset_path("resignation.pdf"), title: "Studies resignation form" do %> 
					<i class="fa fa-angle-double-right"></i> Studies resignation
				<% end %>
			</div>
			<div class="application-forms-item-description">
				The request for removal from the list of students.
			</div>
		</div>

		<div class="grid-item 1/1 application-forms-item">
			<div class="application-forms-item-title">
				<%= link_to asset_path("repeat_semester.pdf"), title: "Repeat semester application form" do %> 
					<i class="fa fa-angle-double-right"></i> Repeat semester
				<% end %>
			</div>
			<div class="application-forms-item-description">
				Application to the Dean of the Faculty for permission to resume studies by submitting an examination.
			</div>
		</div>

		<div class="grid-item 1/1 application-forms-item">
			<div class="application-forms-item-title">
				<%= link_to asset_path("resit_exam.pdf"), title: "Request exam resit" do %> 
					<i class="fa fa-angle-double-right"></i> Exam resit
				<% end %>
			</div>
			<div class="application-forms-item-description">
				Application to the Dean of the Faculty for permission to take a board resit examination.
			</div>
		</div>
	</div>
</div>