<div class="grid announcements">

	<div class="grid-item 1/1 announcements-title">
		News
	</div>

	<div class="grid-item 1/1 announcement">

		<div id="art-tit-1" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> "Academic savior-vivre" workshops
		</div>

		<div id="art-con-1" class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				The scientific circle "Experience" would like to invite you for workshops about academic life. We will prove that you can gather some knowledge while having fun!<br>
				Workshops will take place on  07.12 and 09.12 at 18:30 on the ground floor of the IFE building - room 17. Free entrance.
			</div>

			<div class="grid-item 1/1  compact-1/1 ann-author">
				Added by Sylwia Celmer 
			</div>

			<div class="grid-item 1/1  compact-1/1 ann-date">
				17/11/2016 18:30
			</div>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div id="art-tit-2" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> Rent a bike!
		</div>

		<div id="art-con-2" class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				Are you tired with travelling everywhere by foot or using the public transport?<br>
				Do you want to explore the city with your friends in a different way or you simply want to do something that will keep you fit and healthy?<br>
				We have a solution for you! You can rent an ESN-bike for free!<br><br>
				More information:<br>
				<a href="http://esn-eye.pl/?q=en/erasmus-bike">click here!</a><br>
				Contact us: <br>
				<a>bikes.esneye@gmail.com</a><br>
				<a>http://www.esn-eye.pl/contact</a>
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-author">
				Added by Anna Gryszkiewicz 
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-date">
				14/11/2016 11:30
			</div>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div id="art-tit-3" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> Workshop with PhD Makowski
		</div>

		<div id="art-con-3" class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				Dear students!<br>
				Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!<br>
				In order to become participant, please visit IO!
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-author">
				Added by Laetitia Bongonga
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-date">
				<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
			</div>
		</div>

	</div>


	<div class="grid-item 1/1 announcement hidden">

		<div id="art-tit-4" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> Workshop with PhD Makowski
		</div>

		<div id="art-con-4" class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				Dear students!
				Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
				In order to become participant, please visit IO!
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-author">
				Added by Laetitia Bongonga
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-date">
				<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
			</div>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div id="art-tit-5" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> Prof. Sławomir Wiak elected leader of rectors of Lodz Universities
		</div>

		<div id="art-con-5"  class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				Prof. Sławomir Wiak, Rector of Lodz University of Technology, has been elected Chairman of the Conference of Rectors of Lodz Public Universities (KRŁUP).<br> 
				<br>
				The Conference is concerned with all matters that pertain to the academic life in Łódź. Members of the Conference undertake joint research projects and together organize educational events for the local community.<br>
				<br>
				The term of office of the chairman of the Conference is four years.
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-author">
				Added by Anna Boczkowska
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-date">
				25/10/2016 15:20
			</div>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div id="art-tit-6" class="grid-item 1/1 ann-title">
			<i class="fa fa-angle-double-right"></i> Lodz University of Technology expands cooperation with two international parters
		</div>

		<div id="art-con-6" class="first-hidden">
			<div class="grid-item 1/1 ann-content">
				On 4th October, just before the celebration of the opening of the new academic year, two international agreements were signed at Lodz University of Technology.<br>
	 			<br>
				The first agreement was signed with the University of Pavia (Italy). It establishes a procedure for the award of a joint PhD in computer science and electrical engineering. The second document, a Letter of Intent signed by Lodz University of Technology and Artois University located in Arras, France, is concerned with cooperation in research, exchange of academic staff and double diploma programme. The agreements were concluded by professor Sławomir Wiak, TUL's rector, professor Pasquale Mammone, president of the University in Arras, and professor Roberto Bottinelli, a vice rector of the University in Pavia.<br>
				<br>
				The signing of the cooperation agreements is expected to enhance internationalization at Lodz University of Technology by two-way mobility of students, doctoral students and academic staff. According to the rector of Lodz University of Technology, professor Wiak, intensification of international cooperation in all research areas and implementation of bilateral agreements with universities in international networks is necessary.
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-author">
				Added by Dawid Sielski
			</div>

			<div class="grid-item 1/2  compact-1/1 ann-date">
				06/10/2016 12:05
			</div>
		</div>

	</div>

</div>
