<div class="grid announcements">

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>


	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>

	<div class="grid-item 1/1 announcement">

		<div class="grid-item 1/1 ann-title">
			Workshop with PhD Makowski
		</div>

		<div class="grid-item 1/1 ann-content">
			Dear students!
			Next week, 14-18.11.2016 , during Embedded Systems Week, everyday at 8:15 in room M there are special classes with PhD Makowski during which every student will have chance to learn how to build blining LED! Classes will take approx 2 hours. Each participant will be awarded with special Makowski's T-Shirt with one of funny sayings like "-5%"!
			In order to become participant, please visit IO!
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-author">
			Laetitia Bongonga
		</div>

		<div class="grid-item 1/2  compact-1/1 ann-date">
			<%= DateTime.now.day %>/<%= DateTime.now.month %>/<%= DateTime.now.year %> <%= DateTime.now.hour %>:<%= DateTime.now.minute %>
		</div>

	</div>



</div>
