<div class="grid useful-links">

	<div id="use-ful-drop" class="grid-item 1/1 useful-links-dropdown">
		Useful links <i class="fa fa-angle-down"></i>
	</div>

	<div id="use-ful-links" class="grid-item 1/1 useful-links-links-hidden">
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Conact
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Visiting hours
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Academic year
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> ECTS programmes
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Application forms
			</div>
		<% end %>
	</div>

</div>