  <div class="grid grid-center">
  
    <div class="grid-item login-form 2/5 medium-3/5 compact-9/10">

      <% if notice %>
          <div class="text-center"><h4><%= notice %></h4></div>
      <% end %>

      <% if alert %>
          <div class="text-center"><h4><%= alert %></h4></div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label "Student index" %>
          <%= f.text_field :st_index, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        
        <div class="actions btn-login text-center">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
