<div class="grid grid-center useful-links hidden medium-visible compact-visible">

	<div class="grid-item grid-center 1/1 mobile useful-links-links-visible">
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Conact
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Visiting hours
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Academic year
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> ECTS programmes
			</div>
		<% end %>
		<%= link_to contact_index_path do %>
			<div class="grid-item 1/1 useful-links-link">
				<i class="fa fa-angle-right"></i> Application forms
			</div>
		<% end %>
	</div>

</div>

<div class="grid medium-hidden compact-hidden">

	<%= render 'shared/announcements' %>

</div>